<a href="https://colab.research.google.com/github/RORRE-ERROR/Data-Science-Salary-Prediction/blob/main/Table_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/glassdoor/SalaryData_cleaned.csv')
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,avg_salary,company_txt,job_state,age,python_yn,r_studio_yn,spark_yn,aws_yn,excel_yn
0,Data Scientist,$53K-$91K (Glassdoor est.),Job Description,3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,91,72.0,Tecolote Research\n,NM,53,0,0,0,0,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),Job Description,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,112,87.5,University of Maryland Medical System\n,MD,42,0,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),Job Description,4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,90,85.0,KnowBe4\n,FL,16,0,0,0,0,0
3,Data Scientist,$56K-$97K (Glassdoor est.),Job Description,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,97,76.5,PNNL\n,WA,61,0,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Job Description,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,143,114.5,Affinity Solutions\n,NY,28,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Job Description,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,111,84.5,GSK\n,MA,196,0,0,0,0,0
738,Senior Data Engineer,$72K-$133K (Glassdoor est.),Job Description,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,133,102.5,Eventbrite\n,TN,20,0,0,0,0,0
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),Job Description,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,91,73.5,Software Engineering Institute\n,PA,42,0,0,0,0,0
740,Data Science Manager,$95K-$160K (Glassdoor est.),Job Description,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,160,127.5,"Numeric, LLC\n",PA,-1,0,0,0,0,0
741,Research Scientist â?Security and Privacy,$61K-$126K (Glassdoor est.),Job Description,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,126,93.5,Riverside Research Institute\n,OH,59,0,0,0,0,0

In [4]:
def describe_statistics(df):
    stats = []

    for col in df.select_dtypes(include=np.number).columns:
        col_data = df[col].dropna()
        percentiles = np.percentile(col_data, [25, 50, 75])
        stats.append({
            'Variable': col,
            'Frequency': '-',  # Optional for numeric
            'Percentile (25th, 50th, 75th)': f"{percentiles[0]:.2f}, {percentiles[1]:.2f}, {percentiles[2]:.2f}",
            'Data Completeness': f"{100 * col_data.count() / len(df):.1f}%",
            'Mean': round(col_data.mean(), 2),
            'Median': round(col_data.median(), 2),
            'Mode': col_data.mode().values[0],
            'Standard Deviation': round(col_data.std(), 2),
            'Variance': round(col_data.var(), 2),
            'Skewness': round(col_data.skew(), 2),
            'Kurtosis': round(col_data.kurtosis(), 2)
        })

    for col in df.select_dtypes(exclude=np.number).columns:
        freq = df[col].value_counts(normalize=True).head(3).to_dict()
        stats.append({
            'Variable': col,
            'Frequency': ', '.join([f"{k}: {v:.1%}" for k, v in freq.items()]),
            'Percentile (25th, 50th, 75th)': '-',
            'Data Completeness': f"{100 * df[col].count() / len(df):.1f}%",
            'Mean': '-',
            'Median': '-',
            'Mode': df[col].mode().values[0],
            'Standard Deviation': '-',
            'Variance': '-',
            'Skewness': '-',
            'Kurtosis': '-'
        })

    return pd.DataFrame(stats)

In [5]:
table2 = describe_statistics(df)
table2

,Variable,Frequency,"Percentile (25th, 50th, 75th)",Data Completeness,Mean,Median,Mode,Standard Deviation,Variance,Skewness,Kurtosis
0,Rating,-,"3.30, 3.70, 4.00",100.0%,3.62,3.7,3.9,0.8,0.64,-2.81,14.3
1,Founded,-,"1939.00, 1988.00, 2007.00",100.0%,1837.15,1988.0,-1,497.18,247191.69,-3.39,9.71
2,hourly,-,"0.00, 0.00, 0.00",100.0%,0.03,0.0,0,0.18,0.03,5.3,26.13
3,employer_provided,-,"0.00, 0.00, 0.00",100.0%,0.02,0.0,0,0.15,0.02,6.39,38.94
4,min_salary,-,"52.00, 69.50, 91.00",100.0%,74.07,69.5,65,31.87,1015.65,0.96,1.73
5,max_salary,-,"96.00, 124.00, 155.00",100.0%,127.18,124.0,140,46.91,2200.45,0.43,0.61
6,avg_salary,-,"73.50, 97.50, 122.50",100.0%,100.63,97.5,87.5,38.86,1509.78,0.61,0.89
7,age,-,"17.00, 30.00, 65.00",100.0%,52.19,30.0,-1,54.16,2932.96,1.75,2.71
8,python_yn,-,"0.00, 0.00, 0.00",100.0%,0.0,0.0,0,0.0,0.0,0.0,0.0
9,r_studio_yn,-,"0.00, 0.00, 0.00",100.0%,0.0,0.0,0,0.0,0.0,0.0,0.0
10,spark_yn,-,"0.00, 0.00, 0.00",100.0%,0.0,0.0,0,0.0,0.0,0.0,0.0
11,aws_yn,-,"0.00, 0.00, 0.00",100.0%,0.0,0.0,0,0.0,0.0,0.0,0.0
12,excel_yn,-,"0.00, 0.00, 0.00",100.0%,0.0,0.0,0,0.0,0.0,0.0,0.0
13,Job Title,"Data Scientist: 17.7%, Data Engineer: 7.1%, Se...",-,100.0%,-,-,Data Scientist,-,-,-,-
14,Salary Estimate,"$54K-$115K (Glassdoor est.): 0.8%, $21-$34 Per...",-,100.0%,-,-,$21-$34 Per Hour(Glassdoor est.),-,-,-,-
15,Job Description,Job Description: 100.0%,-,100.0%,-,-,Job Description,-,-,-,-
16,Company Name,"MassMutual\n3.6: 1.9%, Takeda Pharmaceuticals\...",-,100.0%,-,-,MassMutual\n3.6,-,-,-,-
17,Location,"New York, NY: 7.4%, San Francisco, CA: 6.6%, C...",-,100.0%,-,-,"New York, NY",-,-,-,-
18,Headquarters,"New York, NY: 7.0%, San Francisco, CA: 5.7%, C...",-,100.0%,-,-,"New York, NY",-,-,-,-
19,Size,"1001 to 5000 employees: 20.2%, 501 to 1000 emp...",-,100.0%,-,-,1001 to 5000 employees,-,-,-,-
20,Type of ownership,"Company - Private: 55.3%, Company - Public: 26...",-,100.0%,-,-,Company - Private,-,-,-,-
21,Industry,"Biotech & Pharmaceuticals: 15.1%, Insurance Ca...",-,100.0%,-,-,Biotech & Pharmaceuticals,-,-,-,-
22,Sector,"Information Technology: 24.3%, Biotech & Pharm...",-,100.0%,-,-,Information Technology,-,-,-,-
23,Revenue,"Unknown / Non-Applicable: 27.4%, $10+ billion ...",-,100.0%,-,-,Unknown / Non-Applicable,-,-,-,-
24,Competitors,"-1: 62.0%, Novartis, Baxter, Pfizer: 1.9%, Oak...",-,100.0%,-,-,-1,-,-,-,-
25,company_txt,"MassMutual\n: 1.9%, Takeda Pharmaceuticals\n: ...",-,100.0%,-,-,MassMutual\n,-,-,-,-
26,job_state,"CA: 20.4%, MA: 13.9%, NY: 9.7%",-,100.0%,-,-,CA,-,-,-,-

In [7]:
with pd.ExcelWriter("salary_table_statistics.xlsx") as writer:
    table2.to_excel(writer, sheet_name="Data Statistics", index=False)

In [8]:
from google.colab import files
files.download("salary_table_statistics.xlsx")